.cover-Image {
  background-image: url("../../asset/images/cover.webp");
  background-repeat: no-repeat;
  border: solid none;
  background-size: cover;
  height: 500px;
  background-position-x: top;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-Div {
  border: solid none;
  width: 35%;
  height: 150px;
  background-color: wheat;
  /* margin-left: 450px; */
  opacity: 0.5;
  margin-top: 10rem;
}
.fall-Winter-Text {
  font-weight: bold;
  font-family: "cursive";
}
.shop-Now-Button:hover {
  background-color: white;
  color: black;
}
.shop-Now-Button {
  height: 45px;
  width: 50%;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: black;
  color: white;
  font-size: 18px;
}

.free-Shopping-Text {
  font-family: "cursive";
  font-size: 15px;
  letter-spacing: 5px;
  color: grey;
  padding-top: 10px;
}
.yaer-Round-Line-Div {
  /* width: 30%; */
  /* margin-left: 450px; */
}
.yaer-Round-Line-Col {
  border: solid none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.year-Round-Text {
  font-family: "cursive";
  letter-spacing: 12px;
  font-weight: bolder;
  margin-bottom: 32px;
}
.short-Line-Div {
  border: 0.5px solid grey;
  width: 35%;
  margin-bottom: 30px;
  margin-left: 120px;
}
.must-Have-Item-Text {
  font-family: "cursive";
  font-size: 15px;
  letter-spacing: 8px;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  border: solid none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardDiv {
  border: solid none;
  height: 400px;
  width: 300px;
}
.card-Image {
  height: 300px;
  width: 98%;
  cursor: pointer;
}
.card-Image:hover {
  height: 310px;
  width: 98%;
  transition: all.4s;
}

.midi-Pleated-Button:hover {
  height: 50px;
  width: 95%;
  transition: all.4s;
}
.midi-Pleated-Button {
  height: 45px;
  width: 98%;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #303132;
  color: white;
}

@media screen and (max-width: 600px) {
  .cover-Image{
    height: 250px;
  }
  .card-Div{
    border: solid none;
    margin-left: 0;
    width: 271px;
    height: 105px;
    /* margin-left: 17px; */
    margin-top: 2rem;
  }
  .shop-Now-Button{
    height: 42px;
    width: 184px;
  }
  .card-container {
    display: block;
    width: 302px;
    margin-left: 37px;
  }
  .cardDiv {
    width: 300px;
    height: 374px;
    /* margin-left: 10px; */
  }
  .yaer-Round-Line-Div {
    margin-left: 0;
    width: 100%;
  }
  .free-Shopping-Text {
    font-size: 13px;
    letter-spacing: 5px;
  }
  .year-Round-Text {
    letter-spacing: 8px;
  }
  .short-Line-Div {
    /* margin-left: 87px; */
  }
}
