.card-Main-Div {
  border: solid #ededed 1px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 280px;
  width: 180px;
  box-shadow: whitesmoke 5px 5px 5px 5px;
}
.card-Main-Div:hover {
  box-shadow: whitesmoke 10px 10px 10px 10px;
}
.card-Imag {
  height: 150px;
  width: 150px;
  cursor: pointer;
}
.card-Imag:hover {
  height: 180px;
  width: 180px;
  transition: all.4s;
}
span,
p {
  font-family: "DM Sans";
  cursor: pointer;
}
.name-Text {
  margin-top: 10px;
  cursor: pointer;
}
.name-Text:hover {
  color: blue;
  transition: all.4s;
}
.price-Text:hover {
  color: orange;
  transition: all.4s;
}
@media screen and (max-width: 600px) {
  .card-Main-Div {
    height: 300px;
    width: 150px;
  }
}
