.watch-Heading {
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
/* Side Box & Add Imag Css Work Start */
.box-Mian-Div {
  display: flex;
  border: solid none;
}
.box-Div {
  border: 1px solid #ededed;
  height: 80px;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.box-Div:hover {
  border: 2px solid orange;
}
.box-Imag {
  height: 70px;
  width: 90%;
  cursor: pointer;
}
.add-Imag-Div {
  border: solid none;
  width: 90%;
}
.imag-Watch {
  height: 300px;
  width: 80%;
}
/* Side Box & Add Imag Css Work Close */

.stare-Div {
  border: solid none;
  height: 30px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.reviews-Div {
  border: 2px solid #ededed;
  border-top: none;
  border-bottom: none;
  width: 30%;
}
.stare-Icon {
  color: orange;
}
.stare-Icon:hover {
  color: red;
}
.reviews-Text {
  color: #888;
}
.reviews-Text:hover {
  color: orange;
  transition: all.3s;
}
/*Facebook & Twitter Css Button Work Start  */
.button-Div {
  border: solid none;
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.facebook-Btn {
  height: 32px;
  width: 30%;
  font-family: "DM Sans";
  font-size: 15px;
  background-color: darkblue;
  color: white;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.twitter-Btn {
  height: 32px;
  width: 30%;
  font-family: "DM Sans";
  font-size: 15px;
  background-color: lightskyblue;
  color: white;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
/*Facebook & Twitter Css Button Work Close    */
/*Availability & Small screen & Price Css Work Start */
.availability-Text {
  font-family: "DM Sans";
  font-size: 15px;
  color: #888;
  text-align: left;
  margin-top: 10px;
}
.in-Stock-Text {
  color: black;
}
.small-Screen-Text-Div {
  border: 2px solid #ededed;
  border-left: none;
  border-right: none;
}
.small-Screen-Text {
  font-family: "DM Sans";
  font-size: 19px;
  text-align: left;
  /* color: #888; */
}
.number-Text {
  font-weight: bold;
  font-family: "DM Sans";
  text-align: left;
  font-size: 18px;
}
/*Availability & Small screen & Price Css Work Close */
/* Icrement & Decrement Css Work Start */
.incre-Button-Div {
  border: solid none;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}
.number {
  border: solid #ededed;
  border-radius: 25px;
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.add-To-Cart-Button {
  height: 40px;
  width: 40%;
  background-color: orange;
  font-family: "DM Sans";
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 15px;
  font-weight: 600;
}
.add-To-Cart-Button:hover {
  color: white;
}
/* Icrement & Decrement Css Work Close */
/* Heart Icon Css Start */
#icons-Div {
  width: 10%;
  height: 50px;
  border-radius: 40px;
  border: solid #ededed;
  padding-top: 8px;
}
#icons-Div:hover {
  background-color: orange;
}
/* Heart Icon Css Close */
.market-Text {
  text-decoration: none;
  font-family: "DM Sans";
  color: #888;
}
.market-Text:hover {
  color: orange;
}
@media screen and (max-width: 600px) {
  .box-Div {
    width: 100%;
    height: 70px;
  }
  .box-Imag {
    width: 100%;
    height: 60px;
  }
  .add-Imag-Div {
    width: 80%;
  }
  .imag-Watch {
    height: 200px;
  }
  .stare-Div {
    width: 100%;
  }
  .button-Div {
    width: 100%;
  }
  .incre-Button-Div {
    width: 100%;
    display: block;
  }
  .number {
    width: 42%;
  }
  .add-To-Cart-Button {
    width: 50%;
    margin-top: 25px;
    margin-right: 141px;
  }
  .facebook-Btn {
    width: 40%;
  }
  #icons-Div {
    width: 18%;
  }
}

#more-Information-Row {
  height: 600px;
  border: solid red;
}
#more-Information-btn {
  text-decoration: none;
  cursor: pointer;
  font-family: "DM Sans";
  font-size: 25px;
}
