.first-Navbar-Row {
  background-color: #d3d3d3;
}
.first-Navbar-Col {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-Input-Div {
  display: flex;
  align-items: center;
  border: solid none;
  width: 30%;
  height: 50px;
}
.search-Input {
  width: 60%;
  height: 40px;
  background: transparent;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* color: #ced3d3; */
  outline: none;
  cursor: pointer;
}
.search-Input:hover {
  border-bottom: solid 1px white;
}
.login-Icon-Div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  border: solid none;
}
.login-Text {
  font-size: 20px;
  padding-top: 14px;
  padding-left: 5px;
  color: #535151;
  font-family: sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .first-Navbar-Row {
    height: 120px;
  }
  .first-Navbar-Col {
    display: block;
  }
  .search-Input-Div {
    border: solid none;
    width: 98%;
  }
  .login-Icon-Div {
    display: flex;
    border: solid none;
    width: 287px;
  }
}
