.footer-Firt-Row {
  display: flex;
  background-color: rgb(63, 63, 63);
  height: 220px;
}
.stay-Connected-Text {
  font-size: 18px;
  font-weight: 500;
  color: grey;
  font-family: "cursive";
  letter-spacing: normal;
  padding-top: 20px;
}
.footer-Icons-Div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  border: solid none;
  margin-left: 81px;
}

.be-Our-Friend-Text {
  font-family: "cursive";
  font-size: 18px;
  font-weight: 500;
  color: grey;
  font-family: "cursive";
  letter-spacing: normal;
  padding-top: 20px;
}
.footer-Email-Input {
  font-family: "cursive";
  width: 50%;
  height: 30px;
  padding-left: 15px;
  outline: none;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.footer-Subcribe-Button:hover {
  background-color: white;
  transition: all.4s;
}
.footer-Subcribe-Button {
  font-family: "cursive";
  color: grey;
  width: 50%;
  height: 30px;
  padding-left: 15px;
  outline: none;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.footer-Smart-Factual-Text {
  font-family: "cursive";
  font-size: 15px;
  color: grey;
  padding-top: 40px;
}
.factual-Code-Text-Link {
  text-decoration: none;
  color: grey;
  font-family: "cursive";
}
@media screen and (max-width: 600px) {
  .footer-Firt-Row {
    height: 500px;
  }
  .footer-Icons-Div {
    border: solid none;
    width: 64%;
    margin-left: 59px;
  }
  .be-Our-Friend-Text {
    margin-top: 32px;
  }
  .footer-Email-Input {
    width: 78%;
  }
  .footer-Subcribe-Button {
    width: 78%;
  }
}

.need-Assistance-Text {
  font-family: "cursive";
  font-size: 18px;
  font-weight: 500;
  color: grey;
  font-family: "cursive";
  letter-spacing: normal;
  padding-top: 20px;
}
.number-Text {
  font-family: "cursive";
  font-size: 18px;
  font-weight: 500;
  color: #ced3d3;
  font-family: "cursive";
  letter-spacing: normal;
}
