.side_Col{
    border-top: solid none;
    background-color: #fff;
}
.sideBody{
    border: solid none;
    font-family:sans-serif;
    margin-left: 35px;
    height: 100%;
    
}
.categories{
    font-size: 35px;
    margin-right:9% ;
    padding-bottom: 3%;
}
.categories-text{
    border: solid none;
}
.categories-text>ul{
    list-style: none;
    color: gray;
    text-transform: capitalize;
    padding-top: 2%;
    font-size: 18px;
}
.categories-list{
    padding-bottom: 4%;
    border-bottom: 1px solid lightgray;
    width: 45%;
    margin-left: 8%;
    text-align: left;
}
.categories-list>li{
    padding-top: 6%;
}
.categories-list:hover{
    color: #535151;
    transition: all.4s;
    cursor: pointer;
}
.filter{
    padding-top: 10%;
    /* border: solid; */
    padding-right: 40%;
}
.filter>h1{
    text-transform: capitalize;
    padding-bottom: 2%;
    font-size: 35px;
}
.filter-line{
    border-bottom:solid lightgray 1px;
    width: 55%;
    margin-left: 15%;
}
.price{
    border: solid none;
    font-size: 20px;
    padding-top: 5%;
    text-transform: capitalize;
    padding-bottom: 3%;
}
.color{
    border: solid none;
    font-size: 20px;
    padding-top: 5%;
    text-transform: capitalize;
    padding-bottom: 3%;

}
.size{
    border: solid none;
    font-size: 20px;
    padding-top: 5%;
    text-transform: capitalize;
    padding-bottom: 3%;
}

.plus-icon{
    cursor: pointer;
    margin-right: 35%;
}
@media screen and (max-width:600px){
    .categories{
        margin-right:22% ;
    }
    

    
    .filter-line{
        margin-left: 15%;
    }
    


}

